// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 1100px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-2);
  text-align: center;
  color: var(--gray-500);
  font-size: 0.85rem;
}
