// Typography

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1.3;
  color: var(--heading-color);
}

h1 { font-size: 2rem; }
h2 { margin-top: 1rem; font-size: 1.5rem; }
h3 { margin-top: 1.5rem; font-size: 1.25rem; }
h4, h5, h6 { margin-top: 1rem; font-size: 1rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt { font-weight: bold; }
dd { margin-bottom: .5rem; }

abbr {
  font-size: 85%;
  font-weight: bold;
  color: var(--gray-600);
  text-transform: uppercase;
  &[title] {
    cursor: help;
    border-bottom: 1px dotted var(--border-color);
  }
}

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: var(--gray-500);
  border-left: .25rem solid var(--border-color);
  p:last-child { margin-bottom: 0; }
}

figure { margin: 0; }

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
